#projects {
  padding: 100px 0;
  border-top: 1px solid #b7b7b7;
}

#projects-container {
  max-width: 1400px;
  margin: 0 auto;
}

#projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projects-title {
  color: white;
  font-weight: 400;
  font-size: 40px;
  color: #43494c;
  text-align: center;
}

.project-div {
  width: 375px;
  height: 0px;
  background-color: white;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 60px -5px rgba(0,0,0, 0.5);
  transition: 0.3s box-shadow, 0.3s transform;
  overflow: hidden;
  opacity: 0;
}

.project-div:hover {
  box-shadow: 1px 4px 70px 2px rgba(0,0,0, 0.5);
}

.project-placeholder {
  height: 600px;
  margin: 40px;
}

.project-pic {
  height: 65%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-desc {
  background: white;
  box-shadow: 0 -2px 20px 2px rgba(0, 0, 0, 1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 35%;
  padding: 10px 30px;
  box-sizing: border-box;
}

#projects-list h1 {
  color: black;
  font-size: 26px;
  font-weight: 400;
  font-size: 28px;
  margin: 10px 0;
}

#projects-list p {
  color: #5b5b5b;
  font-size: 18px;
  margin-top: 10px;
}

#rfid .project-desc p {
  margin-top: 10px;
  margin-bottom: 7px;
}

#projects-list a {
  display: inline-block;
  background: linear-gradient(-45deg, var(--purple-color) -20%, var(--blue-color));
  box-shadow: 4px 10px 40px -5px rgb(60, 55, 68);
  font-size: 16px;
  color: #eaffec;
  text-decoration: none;
  transition: 0.3s box-shadow;
  padding: 10px 40px;
  border-radius: 22px;
  margin: 10px 20px 10px 0;
  cursor: pointer;
}

#projects-list a:hover {
  box-shadow: none;
}

#vote .project-pic {
  background: url('../../assets/vote1.jpg');
}

#gt .project-pic {
  background: linear-gradient(rgba(0,0,0,0) 100%, black), url('../../assets/gt1.jpg');
}

#pong .project-pic {
  background: linear-gradient(rgba(0,0,0,0) 100%, #c4c4c4), url('../../assets/pong1.jpg');
}

#fractal .project-pic {
  background: url('../../assets/fractal1.jpg');
}

#bomberman .project-pic {
  background: linear-gradient(#c6eaff 14%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 75%, var(--green-color) 85%), url('../../assets/bomberman1.jpg');
  background-position: center;
  background-size: contain;
}

#proc .project-pic {
  background: url('../../assets/proc1.jpg');
}

#rfid .project-pic {
  background: url('../../assets/rfid1.jpg');
}

@media only screen and (max-width: 812px) {
  .project-div {
    height: 600px;
    opacity: 1;
  }
}

@media only screen and (max-width: 375px) {
  .project-pic {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .project-desc {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .project-div {
    border-radius: 0;
  }

  .project-placeholder {
    margin: 80px;
  }
}