#skills {
  position: relative;
  padding-bottom: 100px;
  padding-top: 1px;
}

#skills-background {
  position: absolute;
  width: 150%;
  left: -25%;
  height: 100%;
  background-color: var(--grey-color);
  border-top: 1px solid #b7b7b7;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}

#skills-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

#skills-container h1 {
  font-weight: 400;
  font-size: 40px;
  color: #43494c;
  text-align: center;
  margin: 100px 0 50px 0;
}

#skills-container h2 {
  font-weight: 400;
  font-size: 24px;
  color: #43494c;
  margin: 40px 0 20px 0;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.skill-item {
  background-color: white;
  margin: 15px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 1);
  text-align: center;
  width: 160px;
  max-width: 160px;
  flex: 1 1 auto;
  cursor: pointer;
  transition: box-shadow 0.2s;
  text-decoration: none;
  color: black;
}

.skill-item:hover {
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 1); 
}

.skill-item-img {
  width: 100px;
  height: 100px;
}

.skill-item-name {
  font-weight: 400;
  margin: 10px 0 0 0;
  font-size: 20px;
}

@media only screen and (max-width: 1400px) {
  #skills-background {
    width: 200%;
    left: -50%;
  }
}

@media only screen and (max-width: 1050px) {
  #skills-background {
    width: 300%;
    left: -100%;
  }
}

@media only screen and (max-width: 600px) {
  #skills-background {
    width: 400%;
    left: -150%;
  }
}
