#contact {
  position: relative;
  padding: 100px 0 50px 0;
  overflow: hidden;
}

#contact-background {
  position: absolute;
  width: 150%;
  left: -25%;
  height: 100%;
  background: linear-gradient(45deg, var(--blue-color), var(--purple-color));
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  overflow: hidden;
}

#contact-stripe1 {
  position: absolute;
  width: 600px;
  height: 200px;
  background: linear-gradient(#4700fc, #5600fc 100%);
  top: -80px;
  right: 55%;
  border-radius: 50px;
  transform: rotate(135deg);
}

#contact-stripe2 {
  position: absolute;
  width: 600px;
  height: 200px;
  background: linear-gradient(var(--purple-color), #6500fc);
  top: 300px;
  right: 20%;
  border-radius: 50px;
  transform: rotate(45deg);
}

#contact-container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

#contact-container h1 {
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin-top: 60px;
  text-align: center;
}

#contact-box {
  text-align: center;
  font-size: 40px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 0 0;
  align-content: flex-start;
}

#phone, #email {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

#contact-box span {
  margin-left: 20px;
}

@media only screen and (max-width: 875px) {
  #contact-background {
    width: 200%;
    left: -50%;
  }
}

@media only screen and (max-width: 650px) {
  #contact-box {
    font-size: 30px;
    margin: 60px 0 0 0;
  }
  #contact-box img {
    width: 50px;
  }
}

@media only screen and (max-width: 480px) {
  #contact-box {
    font-size: 25px;
    margin: 40px 0 0 0;
  }
  #contact-box img {
    width: 40px;
  }

  #contact-container h1 {
    font-weight: 400;
    font-size: 40px;
  }
}
