#intro {
  width: 100%;
  height: 800px;
  position: relative;
}

#intro-welcome {
  position: absolute;
  z-index: 1;
  background: var(--main-color);
  width: 100%;
  transform: skewY(-12deg);
  transform-origin: 0;
  height: 161%;
}

#intro-background {
  width: 150%;
  height: 100%;
  background: linear-gradient(-45deg, var(--purple-color) 40%, var(--blue-color));
  position: absolute;
  left: -25%;
  overflow: hidden;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}

#stripe1 {
  width: 400px;
  height: 50%;
  background: var(--purple-color);
  border-radius: 50px;
  position: absolute;
  top: -10%;
  left: 15%;
}

#stripe2 {
  width: 400px;
  height: 50%;
  background: #4d14fc;
  border-radius: 50px;
  position: absolute;
  top: 70%;
  right: 15%;
}

#profile {
  color: white;
  margin: 170px 0 0 0;
}

#profile h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(30px);
}

#profile h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transform: translateY(30px);
}

#test {
  height: 10px;
}

#intro-container {
  max-width: 1000px;
  margin: auto;
  position: relative;
  padding: 1px 35px;
}

#intro-container header {
  display: flex;
  align-items: center;
}

.header-btn {
  margin: 10px 10px;
  color: white;
  font-size: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 10px 20px;
  transition: 0.4s background-color;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-30px);
  opacity: 0;
  text-decoration: none;
}

.header-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#header-flex-space {
  flex-shrink: 1;
  flex-grow: 1;
}

#logo {
  font-size: 40px;
  color: white;
}

#welcome {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.welcome-piece {
  width: 25%;
  height: 33.4%;
  background-color: var(--grey-color);
}

.intro-button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--green-color);
  box-shadow: 4px 4px 25px -5px rgba(0, 0, 0, 1);
  margin: 20px 20px 0 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.2s box-shadow;
  opacity: 0;
  transform: translateY(30px);
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#intro-btn2 {
  margin-right: 0;
}

.intro-button:hover {
  box-shadow: 6px 6px 35px -5px rgba(0, 0, 0, 1);
}

.intro-button:active {
  outline: none;
  box-shadow: none;
}

#mobile-menu-open {
  position: absolute;
  right: 20px;
  top: 16px;
  color: white;
  display: none;
}

#mobile-menu-open:hover {
  color: #afafaf;
}

#mobile-menu-close {
  float: right;
  color: black;
}

#mobile-menu-close:hover {
  color: #565656;
}

#mobile-menu {
  position: absolute;
  right: 20px;
  top: 16px;
  height: 0;
  width: 0;
  background: white;
  z-index: 10;
  border-radius: 6px;
  box-shadow: 0 5px 50px 1px rgba(0, 0, 0, 1);
  overflow: hidden;
  opacity: 0;
}

.mobile-menu-btn {
  display: block;
  font-size: 24px;
  padding: 10px 20px;
  transition: 0.4s background-color;
  cursor: pointer;
  text-decoration: none;
  height: 84px;
  box-sizing: border-box;
  line-height: 60px;
  color: #43494c;
  width: 200px;
}

.mobile-menu-btn:hover {
  color: black;
  background-color: #f2f2f2;
}

.mobile-menu-text {
  vertical-align: middle;
}

.mobile-menu-icon {
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 13px;
}

#mobile-menu-icon-3 {
  margin-right: 8px;
  margin-left: 13px;
}

#mobile-menu-spacer {
  height: 35px;
}

#comp-illustration {
  position: absolute;
  top: 130px;
  width: 500px;
  height: 500px;
  right: -5%;
  background-image: url('../../assets/comp.png');
  background-position: center center;
  background-size: 126%;
}

#code-line-1 {
  height: 15px;
  background-color: #679bef;
  position: absolute;
  top: 72px;
  left: 43%;
  border-radius: 2px;
  transform: rotate(14deg);
  transform-origin: 0%;
}

#code-line-2 {
  height: 15px;
  background-color: #88e56b;
  position: absolute;
  top: 98px;
  left: 46%;
  border-radius: 2px;
  transform: rotate(14deg);
  transform-origin: 0%;
}

#code-line-3 {
  height: 15px;
  background-color: #dbae59;
  position: absolute;
  top: 125px;
  left: 49%;
  border-radius: 2px;
  transform: rotate(14deg);
  transform-origin: 0%;
}

#code-line-4 {
  height: 15px;
  background-color: #dbae59;
  position: absolute;
  top: 148px;
  left: 48%;
  border-radius: 2px;
  transform: rotate(14deg);
  transform-origin: 0%;
}

#code-line-5 {
  height: 15px;
  background-color: #dbae59;
  position: absolute;
  top: 171px;
  left: 47%;
  border-radius: 2px;
  transform: rotate(14deg);
  transform-origin: 0%;
}

#code-line-6 {
  height: 15px;
  background-color: #679bef;
  position: absolute;
  top: 190px;
  left: 37%;
  border-radius: 2px;
  transform: rotate(14.5deg);
  transform-origin: 0%;
}

#code-line-7 {
  height: 15px;
  background-color: #88e56b;
  position: absolute;
  top: 217px;
  left: 40%;
  border-radius: 2px;
  transform: rotate(14.5deg);
  transform-origin: 0%;
}

#code-line-8 {
  height: 15px;
  background-color: #dbae59;
  position: absolute;
  top: 243px;
  left: 43%;
  border-radius: 2px;
  transform: rotate(15deg);
  transform-origin: 0%;
}

@media only screen and (max-width: 935px) {
  #comp-illustration {
    display: none;
  }
}

@media only screen and (max-width: 875px) {
  #intro {
    height: 600px;
  }

  #intro-background {
    width: 200%;
    left: -50%;
  }

  #profile {
    margin: 120px 0 0 0;
  }
}

@media only screen and (max-width: 560px) {
  #mobile-menu-open {
    display: inline;
  }

  #header-btn-container {
    display: none;
  }

  #intro-container {
    padding: 1px 15px;
  }

  .intro-button {
    font-size: 17px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 450px) {
  #intro {
    height: 500px;
  }

  #intro-background {
    width: 300%;
    left: -100%;
  }

  #stripe1 {
    width: 200px;
    height: 50%;
    top: -10%;
    left: 25%;
  }

  #stripe2 {
    width: 200px;
    height: 50%;
    top: 70%;
    right: 25%;
  }

  #profile h1 {
    font-size: 50px;
  }

  #profile h3 {
    font-size: 25px;
  }

  #profile {
    margin: 60px 0 0 0;
  }
}
